<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.root.RootSupportActivity" />
        <activity android:name=".ui.root.AgencyInfoActivity" />

        <activity android:name=".ui.counsel.AICounselingActivity" />
        <activity android:name=".ui.counsel.MyCounselLogActivity" />
        <activity android:name=".ui.counsel.HumanCounselActivity" />
        <activity android:name=".ui.counsel.CounselActivity" />

        <activity android:name=".ui.root.RootActivity" />
        <activity android:name=".ui.root.RootAdminActivity" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
